# Arquivo do webdriver
* chromedriver.exe

# testes do cache
*/__pycache__/
*\__pycache__\*
# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__
*.py[cod]
*$py.class
*.pyc

# Nao finalizado
janela_system.py