# Arquivo do webdriver
* chromedriver.exe
* energy-report.html

# testes do cache
*/__pycache__/
*\__pycache__\*
# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__
*.py[cod]
*$py.class
*.pyc
C:\sistema_python\*\__pycache__\*.pyc

# Nao finalizado
janela_system.py